#feed {
	position: relative;
	height: 100vh;
	border: 1px solid red;
}

#localVideo {
	position: absolute;
	top: 10%;
	width: 20%;
	height: 40%;
}

#remoteVideo {
	position: absolute;
	top: 10%;
	width: 40%;
	height: 60%;
	left: 30%;
}

.call-button {
	position: absolute;
	bottom: 20%;
	left: 40%;
}

#call-button {
	height: 40px;
	background-color: green;
	color: white;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

#chat-box {
	padding: 25px;
	height: 150px;
	width: 25%;
	border: 3px solid green;
	margin: 0 auto;
}

@media all and (max-width: 850px) {
	#localVideo {
		width: 35%;
	}

	#remoteVideo {
		width: 50%;
		margin-left: 60px;
	}
}
